body {
  font-family: "Open Sans", sans-serif;
  background: hsl(212, 45%, 89%);
}

.card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 15%;
  height: 410px;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

img {
  margin: 5px;
  padding: 5px;
  width: 95%;
  border-radius: 15px;
}

h4 {
  text-align: center;
  color: hsl(218, 44%, 22%);
  font-weight: 300;
}

.description {
  text-align: center;
  color: gray;
  padding: 10px;
  font-size: 11.7px;
  font-weight: 300;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 250px;
  width: 100%;
  text-align: center;
}

a{
  text-decoration: none;
}





/*Desktop*/

@media (min-width: 800px) and (max-width: 1440px) {
  .card {
    width: 20%;
    height: 410px;
  }

  .footer{
    position: fixed;
    left: 0;
    bottom: 120px;
    width: 100%;
    text-align: center;
  }
}


@media (min-width: 1049px) and (max-width: 1285px) {
  .card {
    width: 20%;
    height: 410px;
  }

  .footer{
    position: fixed;
    left: 0;
    bottom: 250px;
    width: 100%;
    text-align: center;
  }
}

/*Mobile*/
@media (min-width: 375px) and (max-width: 667px) {
  .card {
    width: 70%;
    height: 410px;
  }

  .footer{
    position: fixed;
    left: 0;
    bottom: 60px;
    width: 100%;
    text-align: center;
  }
}
